body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: whitesmoke;    
}

.card {
    /* membuat form card menjadi lengkung */
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    background: #D1E4E9;
    box-shadow:  20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.img-left {
    width: 45%;
    height: 35rem;
    background: url('img/cloth-2.jpg') center;
    background-size: cover;
}

.card-body {
    padding: 2rem;
}

.title {
    margin-bottom: 2rem;
}

.form-input {
    position: relative;
}

.form-input input {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: none;
    border-radius: 15px;
    outline: none;
    border: solid #696969 ;
    background: #bee0ec;
}

.form-input input:hover {
    background: #ffffff;
    transition: .5s;
}

.form-input span {
    position: absolute;
    top: 10px;
    padding-left: 15px;
    color: #DA4116;
}

.form-input input::placeholder {
    color: black;
    padding-left: 0px;
}

.form-input input:focus, .from-input input:valid {
    border: 2px solid #6DE5FF;
}

.form-input input:focus::placeholder {
    color: #6DE5FF;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #ffffff !important;
    border: 0px;
}

.form-box button[type="submit"]{
    margin-top: 10px;
    cursor: pointer;
    border-radius: 10px;
    background: #bee0ec;
    color: #DA4116;
    font-weight: bold;
    letter-spacing: .1rem;
    transition: 0.5s;
    

}

.form-box button[type="submit"] {
    display: inline-block;
    border: solid #696969 ;
    border-radius: 15px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    font-size: 10px;
    padding: 10px;
    color: rgb(80, 80, 80);
    z-index: 1;
}

.form-box button[type="submit"]:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.form-box button[type="submit"]:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.form-box button[type="submit"]:hover {
    border: solid;
}

.form-box button[type="submit"]:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    
}

.form-box button[type="submit"]:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
    

.forget-link, .register-link {
    color: #DA4116;
    font-weight: bold;
}

.forget-link:hover, .register-link:hover {
    color: #AFDA16;
    text-decoration: none;
}

.form-box .btn.social {
    color: white !important;
    border: 0;
    font-weight: bold;
}

.form-box .btn-facebook {
    color: #fff;
    background: #4866a8;
}

.form-box .btn-google {
    color: #fff;
    background: #da3f34;
}

.form-box .btn-twitter {
    color: #fff;
    background: #33ccff;
}

.form-box .btn-facebook:hover {
    background: #3d578f;
}

.form-box .btn-google:hover {
    background: #bf3b;
}

.form-box .btn-twitter:hover {
    background: #2eb7e5;
}