body {
    height: 100vh;
    background: whitesmoke !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    height: auto;
    margin-top: 10px;
    background: silver;
    overflow: hidden;
    border: 0 !important;
    border-radius: 20px !important;
    box-shadow:  20px 20px 60px #bebebe;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.show-gambar {
    height: 40px;
    width: 40px;
    border: #BDBDBD solid 2px;
    padding: 2px;
}

.card-header {
    margin-top: 1rem;
    padding: 1rem;
    width: 70%;
}

h3 {
    
}

.card-body {
    padding: 2rem;
    width: 70%;
    margin-bottom: 2rem;
}

.input-group-text {
    background: #2587be;
    border-radius: 10px;
    padding-left: 1rem;
    color: #fff;
    font: bold;
    height: min-content;
    overflow: hidden;
    border: 0 !important;
    box-sizing: border-box;
}

.input-group input[type="text"] {
    border: 0 !important;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    background: #2587be;
    height: auto;
    
    font: bold;
    transition: 0.5s;
    box-sizing: border-box;
    border: 1px solid #00000020;
}

.input-group input[type="text"]:hover {
    background: #E0E0E0;
    color: black;
}

.baju:hover {
    background: #E0E0E0;
    color: black;
}


.baju {
    border: 0 !important;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    background: #2587be;
    height: auto;
    color: #fff;
    font: bold;
    transition: 0.5s;
    box-sizing: border-box;
    border: 1px solid #00000020;
}

.input-group label {
    
    font: bold;
    overflow: hidden;
    box-sizing: border-box;
}

.input-group input[type="radio"] {
    margin-left: 2ch;
    margin-top: 1ch;
}

.input-group input[type="file"] {
    border: 0 !important;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    background: #2587be;
    color: #fff;
    height: auto;
    
    font: bold;
    transition: 0.5s;
    box-sizing: border-box;
    border: 1px solid #00000020;
}

.input-group input[type="date"] {
    border: 0 !important;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
    background: #2587be;
    color: #fff;
    height: auto;
    
    font: bold;
    transition: 0.5s;
    box-sizing: border-box;
    border: 1px solid #00000020;
}

.input-group input[type="date"]:hover{
    background: #E0E0E0;
    color: black;
}


.baju {
    font-size: small;
    font: bold;

}

.input-group-text input[type="radio"] {
    
    font: bold;
}

/** mengedit type file upload */
.up::-webkit-file-upload-button  {
    border: 0 !important;
    cursor: pointer;
    overflow: hidden;
    border-radius: 30px;
    background: #2587be;
    color: #fff;
    height: auto;
    
    font: bold;
    transition: 0.5s;
    box-sizing: border-box;
    border: 1px solid #00000020;
    margin: 5px;

}


.btn {
    margin-top: 10px;
    background: #2587be;
    transition: 0.5s;
    display: inline-block;
    border-radius: 10px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    color: white;
    z-index: 1;
    border: solid silver 4px;
}


.btn:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #39bda7;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.btn:hover {
    color: #ffffff;
    border: solid #BDBDBD 4px;
}

.btn:hover:before {
    top: -35%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
.btn:hover:after {
    top: -45%;
    background-color: #39bda7;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}